// main theme
$bittersweet: #fa7268;
$pictorial-carmine: #ca054d;
$cabaret: #da3f67;
$maron: #c62368;
$port: #262853;
$plum: #742d71;
$swamp-lighter: #051929;
$swamp: #001220;
$dark-eerie: #000c14;

// additional styles
$eerie-black: #171718;
$medium-spring-green: #00fa9a;
$ghost-white: #f6f8ff;
$blue-munsell: #2d93ad;
$teal: #3ae5da;
$blue: #243695;
$slate: #5f758e;
$periwinkle: #d2d6ef;
$outerspace: #424752;

// aliases
$accent: $maron;
$background: $swamp;
$msg: $medium-spring-green;
