@use "../../../styles/theme" as theme;
@use "../../../styles/sizes" as sizes;

.content-container {
	padding: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-color: theme.$maron;

	.sparkle {
		position: absolute;
		font-size: 64px;
		color: theme.$plum;
		opacity: 0.4;
		animation-name: floating;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}

	.aboutme {
		max-width: 700px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-overflow: wrap;

		.title {
			h1 {
				font-size: 4rem;
				text-align: center;
			}
		}

		.text {
			text-align: center;
			font-size: 1.7rem;
		}

		.k-word {
			color: theme.$medium-spring-green;
		}
	}

	@keyframes floating {
		0% {
			transform: translate(0, 0px);
		}

		50% {
			transform: translate(0, 15px);
		}

		100% {
			transform: translate(0, 0px);
		}
	}
}
