.boring-essay {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	vertical-align: middle;

	p {
		text-align: center;
		width: 50vw;
	}

	.snow {
		position: absolute;
	}

	.snowflake {
		position: absolute;
		width: 10px;
		height: 10px;
		background: linear-gradient(
			white,
			white
		); /* Workaround for Chromium's selective color inversion */
		border-radius: 50%;
		filter: drop-shadow(0 0 10px white);
	}
}
