@use "../../styles/theme" as theme;

.links-container {
	min-height: 100vh;
	min-width: 100vw;
	margin-top: 5vh;

	// background-image: radial-gradient(theme.$periwinkle, theme.$port);
	h1 {
		width: 60vw;
		min-width: min-content;
		position: relative;
		text-align: center;
		background-color: theme.$cabaret;
		font-size: 5em;
		z-index: 500;
	}

	h1::after {
		background-color: theme.$cabaret;
		content: "";
		width: 3em;
		height: 100%;
		z-index: -1;

		position: absolute;
		right: -1em;

		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);
		transform: scaleX(-1);
	}

	.linkedlist {
		border-left: 10px solid theme.$teal;
		margin-left: 10vw;
		width: min-content;

		padding-top: 50vh;
		margin-top: -50vh;
		padding-bottom: 50vh;
		margin-bottom: -50vh;

		.link {
			display: flex;
			align-items: center;
			gap: 1em;
			padding-left: 1em;
			padding-right: 1em;

			svg {
				width: auto;
				height: 2.75rem;
			}

			p {
				width: 100%;
				font-size: 2.5rem;
			}

			&:hover {
				border: 4px solid;
				border-color: theme.$swamp-lighter;
				scale: 0.97;
				transition-duration: 0.3s;
			}
		}
	}
}

@keyframes wipe-enter {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
