@use "../../styles/theme" as theme;

.links-container {
	min-height: 100vh;
	min-width: 100vw;
	margin-top: 5vh;

	// background-image: radial-gradient(theme.$periwinkle, theme.$port);
	h1 {
		width: 60vw;
		min-width: min-content;
		position: relative;
		text-align: center;
		background-color: theme.$cabaret;
		font-size: 5em;
		z-index: 500;
	}

	h1::after {
		background-color: theme.$cabaret;
		content: "";
		width: 3em;
		height: 100%;
		z-index: -1;

		position: absolute;
		right: -1em;

		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);
		transform: scaleX(-1);
	}

	.linkedlist {
		border-left: 12px solid theme.$teal;
		width: min-content;
		z-index: 500;

		margin: -50vh 0px -50vh 10vw;
		padding: 50vh 0px 50vh 0px;

		.link {
			display: flex;
			align-items: center;
			gap: 1em;
			padding-left: 1em;
			padding-right: 1em;

			svg {
				width: auto;
				height: 2.75rem;
				z-index: 500;
			}

			p {
				width: 100%;
				font-size: 2.5rem;
				z-index: 500;
			}

			&:hover {
				border: 4px solid;
				border-color: theme.$swamp-lighter;
				scale: 0.97;
				transition-duration: 0.3s;
			}
		}

		.link:hover span {
			display: none;
		}
	}
}

.dot {
	// For some ungodly reason, I can't force width to be 10px sometimes
	min-width: 10px;
	max-width: 10px;
	min-height: 10px;
	max-height: 10px;
	background-color: theme.$swamp;
	border-radius: 50%;
	position: relative;
	left: -1.7em;
}

.snow {
	position: fixed;
	overflow: hidden;
	width: 100vw;
	height: 100vh;

	.snowflake {
		position: absolute;
		width: 10px;
		height: 10px;
		background: linear-gradient(theme.$maron, theme.$maron);
		border-radius: 50%;
		filter: drop-shadow(0 0 10px theme.$maron);
	}
}

@keyframes wipe-enter {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes link-entry {
	from {
		transform: translateY(100vh);
	}
}
