@use "../../styles/theme" as theme;

.links-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: column;

	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../../assets/squares.svg");

	.title {
		margin-top: 4em;
		margin-bottom: 1%;
		animation: wipe-enter 1s ease-in;
		width: fit-content; // Every browser works fine w/o this... EXCEPT FIREFOX?!??!?!

		p {
			font-size: 5rem;
			margin: 0;
		}

		svg {
			rotate: 180deg;
			filter: invert(100%) brightness(102%);
		}
	}

	.linkedlist {
		max-width: 666px;
		width: 100%;

		.link {
			max-height: 55px;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 1em 0 1em 0;
			border-radius: 30px;

			background: linear-gradient(
				90deg,
				theme.$blue 0%,
				theme.$blue-munsell 40%
			);

			&:hover {
				border: 4px solid theme.$swamp-lighter;
				scale: 0.97;
				transition-duration: 0.3s;
			}

			svg {
				width: auto;
				height: 3.5rem;
				margin-left: 1rem;
			}

			p {
				margin-right: 1.75em; // Match half of svg width

				width: 100%;
				text-align: center;
				font-size: 2.5rem;
				font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
					"Lucida Sans", Arial, sans-serif;
			}
		}
	}
}

@keyframes wipe-enter {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes link-entry {
	from {
		opacity: 0;
		transform: translateY(50px);
	}

	to {
		opacity: 1;
	}
}
