@use "../../styles/theme" as theme;

.snow {
	position: fixed;
	overflow: hidden;
	width: 100vw;
	height: 100vh;

	.snowflake {
		position: absolute;
		width: 10px;
		height: 10px;
		background: linear-gradient(theme.$maron, theme.$maron);
		border-radius: 50%;
		filter: drop-shadow(0 0 10px theme.$maron);
	}
}
