.open-menu {
	z-index: 900;
	position: fixed;
	left: 15px;
	top: 15px;
	font-size: xx-large;
	border-radius: 100%;

	cursor: pointer;
	&:hover {
		transition: 200ms ease-in-out;
		transform: scale(1.4);
	}
}

.hidden {
	visibility: hidden;
}
