@use "../../styles/theme" as theme;

.aboutme {
	width: 100%;
	height: 100vh;
	background: linear-gradient(theme.$port 30%, theme.$bittersweet);
	background-size: cover;

	.boring-essay {
		padding-top: 15vh;
		padding-bottom: 15vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		vertical-align: middle;

		p {
			max-width: 800px;
			text-align: center;
		}

		a {
			color: aquamarine;
			text-decoration: underline;
		}
	}

	.snow {
		position: fixed;
		overflow: hidden;
		width: 100vw;
		height: 100vh;

		.snowflake {
			position: absolute;
			width: 10px;
			height: 10px;
			background: linear-gradient(
				white,
				white
			); /* Workaround for Chromium's selective color inversion */
			border-radius: 50%;
			filter: drop-shadow(0 0 10px white);
		}
	}
}
