@use "../../styles/theme" as theme;

.aboutme {
	width: 100vw;
	min-height: 100vh;
	height: fit-content;
	display: flex;
	justify-content: center;
	flex-direction: column;

	.card {
		display: flex;
		justify-content: center;
		flex-wrap: wrap-reverse;
		gap: 100px;
		padding-top: 100px;
		z-index: 999;

		.left {
			margin: 10px 10px 10px 10px;
			text-overflow: wrap;
			max-width: 500px;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.links {
		z-index: 999;
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-top: 5em;
		padding-bottom: 50px;

		a {
			color: aquamarine;
			text-decoration: underline;
		}
	}
}

.snow {
	position: fixed;
	overflow: hidden;
	width: 100vw;
	height: 100vh;

	.snowflake {
		position: absolute;
		width: 10px;
		height: 10px;
		background: linear-gradient(theme.$maron, theme.$maron);
		border-radius: 50%;
		filter: drop-shadow(0 0 10px theme.$maron);
	}
}
