@use "../../styles/theme" as theme;
@use "../../styles/sizes" as sizes;

$custom-mobile-width: 540px;
$custom-small-width: 420px;

.homepage-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-image: url("../../assets/sprinkle.svg");
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, 0.25);
	}

	50% {
		transform: scale(1, 0.25);
	}
}

@keyframes avatar-entry {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
	}
}

@media screen and (max-width: sizes.$mid-width-device) {
	.homepage-container {
		section {
			.content-container {
				width: 95%;
			}
		}
	}
}

@media screen and (max-width: $custom-mobile-width) {
	.homepage-container {
		.aboutme {
			.text {
				font-size: 1rem;
			}
		}
	}
}

@media screen and (max-width: $custom-small-width) {
}
